.shopBgColor {
    background-color: dodgerblue;
}

.shopContainer {
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    margin-top: 20px;
}

/* ITEM */
.itemPosition {
    display: flex;
    align-items: center;
}

.itemImage {
    height: 50px;
    margin-right: 10px;
}

#svgCreditCard {
    height: 45px;
}

.itemName a {
    color: #ffffff;
    font-size: 0.8rem;
}