.label {
    color: #ffffff;
    background-color: #0282f9;
    position: absolute;
    z-index: 1000;
    padding: 10px 30px;
    font-size: 2rem;
    font-weight: 600;
    transform: translate(0%, -50%);
    top: -50px;
    left: 50px;
}

.mainContainer {
    width: 70%;
    margin: 0 auto;
    position: relative;
}