header {
    background-color: white;
    padding: 20px 0;
}

.logoImage {
    height: 80px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

header ul {
    display: flex;
}

header ul a {
    color: #000000;
    margin: 0 20px;
    font-size: 0.75rem;
    font-weight: 600;
}
