.footerBg {
    background-image: url(../../assets/img/footer-bg.jpg);
    background-size: cover;
}

.footerContainer {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
}

.footerContainer nav {
    margin-right: 20px;
}

.topNav {
    margin-bottom: 20px;
}

footer h3 {
    color: white;
    margin-bottom: 10px;
}

.footerContainer li {
    line-height: 17px;
}

.footerContainer a {
    color: rgb(148, 146, 146);
    font-size: 0.7rem;
}

/* Footer bottom */
.footerBottomContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    background-color: #303030;
    padding: 25px 0;
}

.signUpButton {
    background-color: transparent;
    color: #ffffff;
    padding: 15px 15px;
    font-weight: 600;
    border: 2px solid #0381f9;
    cursor: pointer;
}

.followUs {
    font-size: 1.2rem;
    color: #0381f9;
    font-weight: 600;
    margin-right: 20px;
}

.socialNav {
    display: flex;
    align-items: center;
}

.socialList {
    display: flex;
}

.socialList li {
    margin-left: 10px;
}