.footerBg {
    background-image: url(../../assets/img/footer-bg.jpg);
}

.footerContainer {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
}

footer h3 {
    color: white;
}

.footerBg a {
    color: #ffffff;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

.footer-bottom ul {
    display: flex;
}