.card {
    width: 185px;
}

.card:hover {
}

.cardThumb {
    width: 185px;
    height: 284.617px;
    box-shadow: 0px 2px 10px 0px black;
    transition: transform 0.3s ease;
}

.cardThumb:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px 2px black;
}

.title {
    color: #ffffff;
    font-size: 1.1rem;
}