header ul {
    display: flex;
}

header ul a {
    color: #000000;
    margin: 0 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

header ul a:hover,
header ul a.active {
    padding-bottom: 47px;
    border-bottom: 5px solid #0282f9;
}

